.loader {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

}
.bounce {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    background: red;
    animation: radial-pulse 0.2s infinite;
}
@keyframes radial-pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(228, 14, 14, 0.5);
    }
   
    100% {
      box-shadow: 0 0 0 40px rgba(226, 14, 14, 0);
    }
  }