.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.counter__button {
    width: 36px;
    height: 36px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: orange;
}